html, body {
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-background, #f7f7f7);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: var(--color-white);
  -webkit-tap-highlight-color: transparent;
}

#app {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.full-screen-miniapp {
  height: 100%;
  width: 100%;
}

.embedded-miniapp {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.left-sidebar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  width: 256px;
  height: 100%;
  background-color: #001a99;
  overflow: hidden;
}

.system-tool-region {
  height: 22px;
  width: 100%;
  -webkit-app-region: drag;
}

.sidebar-logo-container {
  height: 160px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar-logo {
  height: 32px;
  width: 76px;
  margin: 0 auto;
}

.sidebar-location-container {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #001166;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font: var(--font-p2-semibold);
  color: var(--color-white, white);
}

.sidebar-location-container img {
  margin-right: 9px;
  margin-top: 2px;
}

.sidebar-location-text {
  align-self: flex-start;
}

.right-miniapp-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 256px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.content-container {
  width: 100%;
  height: 100%;
}