html, body {
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: var(--color-white);
  -webkit-tap-highlight-color: transparent;
}

#app {
  height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.miniAppContainer {
  height: 100%;
  width: 100%;
}

.sidebar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 220px;
  height: 100%;
}

.content-container {
  position: absolute;
  top: 0;
  left: 220px;
  right: 0;
  height: 100%;
}