.menu {
    width: '100%';
    background: #001a99;
}

.menu-group {
    width: '100%';
    background: #001a99;
    color: var(--color-white, #ffffff);
}

.menu-item {
    width: '100%';
    background: #001a99;
    color: var(--color-white);
    margin-top: 0;
    margin-bottom: 0;
}

.menu-item.selected {
    width: '100%';
    background: #2d44b7;
    color: var(--color-white, #ffffff);
    margin-top: 0;
    margin-bottom: 0;
}